<div class="window implementer-window">
    <div class="name-window">Add implementer</div>
    <input class="name-implementer" type="text" id="title"  value="Input name implementer">
    <div class="valid valid-implementer"></div>
    <div class="button" id="save-implementer-button">save</div>
    <div class="button" id="close-button">close</div>
</div>