<div class="window implementer-window">
    <div class="title-window">Add implementer</div>
    <button class="save-implementer-button">save</button>
    <button class="close-button">close</button>
    <input class="name-implementer" type="text">name</input>
</div>