<div class="window implementer-window">
    <div class="name-window">Add implementer</div>
    <input class="name-implementer" type="text" id="title" placeholder="Input name implementer" value="">
    <div class="valid valid-implementer" >The first letter of the Name must be uppercase<br>Number of letters in the Name of from 3 to 8</div>
    <div class="button" id="save-implementer-button">save</div>
    <div class="button" id="close-button">close</div>
</div>