
    <div class="property-task">{{title}}</div>
    <div class="property-task">{{status}}</div>
    <div class="property-task">{{implementer.name}}</div>
    <div class="property-task" id="checkbox"><input type="checkbox" class="delete-task"></div>
