<div class="property-button-task" id="add-task">Add Task</div>
<div class="property-button-status" id="filter-status-button">
    <div class ="menu-option-status">
        <div class="option-status-top">All status</div>
        <div class="option-status">All status</div>
        <div class="option-status">New</div>
        <div class="option-status">Reopened</div>
        <div class="option-status">Assigned</div>
        <div class="option-status">InProgress</div>
        <div class="option-status">Feedback</div>
        <div class="option-status">Resolved</div>
        <div class="option-status">Testing</div>
        <div class="option-status">Deployment</div>
        <div class="option-status">Closed</div></div>
</div>
<div class="property-button-task" id="add-implementer">Add implementer</div>
<div class="property-button-task" id="delete-check-tasks">Delete the marked</div>
