
<tr>
    <th class="property-name">Title</th>
    <th class="property-name">Status</th>
    <th class="property-name">Implementer</th>
    <th class="property-name">Delete task</th>
</tr>

<tr>
    <td class="property-button-task"><button class="button addtask-button">Add task</button></td>
    <td class="property-button-task"><button class="button filter-status-button">Filter status</button></td>
    <td class="property-button-task"><button class="button addimplementer-button">Add implementer</button></td>
    <td class="property-button-task"><button class="button delete-all-tasks">Delete all</button></td>
</tr>