<table class="test">
    <tr>
        <td class="property-button-task" id="add-task">Add Task</td>
        <td class="property-button-task" id="filter-status-button">
            <div class="select-status">
                <div class ="menu">
                <div class="option-status">All status</div>
                <div class="option-status">New</div>
                <div class="option-status">Reopened</div>
                <div class="option-status">Assigned</div>
                <div class="option-status">InProgress</div>
                <div class="option-status">Feedback</div>
                <div class="option-status">Resolved</div>
                <div class="option-status">Testing</div>
                <div class="option-status">Deployment</div>
                <div class="option-status">Closed</div>
                </div>
            </div>
        </td>
        <td class="property-button-task" id="add-implementer">Add implementer</td>
        <td class="property-button-task" id="delete-check-tasks">Delete the marked</td>
    </tr>
    <!--<tr>-->
        <!--<td class="column-name-task">Title</td>-->
        <!--<td class="column-name-task">Status</td>-->
        <!--<td class="column-name-task">Implementer</td>-->
        <!--<td class="column-name-task">Delete task</td>-->
    <!--</tr>-->
</table>