<tr class="task">
    <td class="property-task">{{title}}</td>
    <td class="property-task">{{status}}</td>
    <td class="property-task">{{implementer.name}}</td>
    <td class="property-task"><button class="delete-task"></button></td>
</tr>