
<tr>
    <th class="column-name-task">Title</th>
    <th class="column-name-task">Status</th>
    <th class="column-name-task">Implementer</th>
    <th class="column-name-task">Delete task</th>
</tr>

<tr>
    <td class="property-button-task"><button class="button addtask-button">Add task</button></td>
    <td class="property-button-task">
        <select class="button filter-status-button">
            <option>All status</option>
        </select>
    </td>
    <td class="property-button-task"><button class="button addimplementer-button">Add implementer</button></td>
    <td class="property-button-task"><button class="button delete-all-tasks">Delete the marked</button></td>
</tr>