<div class="window task-window">
    <div class="name-window">Create Task</div>
    <input class="event-valid" id="title" type="text" value="Input Title Task">
    <div class ="menu-option-status">
        <div class="option-top" id="status-top">New</div>
        <div class="option-status" id="option-status">New</div>
        <div class="option-status" id="option-status">Reopened</div>
        <div class="option-status" id="option-status">Assigned</div>
        <div class="option-status" id="option-status">InProgress</div>
        <div class="option-status" id="option-status">Feedback</div>
        <div class="option-status" id="option-status">Resolved</div>
        <div class="option-status" id="option-status">Testing</div>
        <div class="option-status" id="option-status">Deployment</div>
        <div class="option-status" id="option-status">Closed</div>
    </div>
    <div class ="menu-option-status event-valid" id="implementers">
        <div class="option-top" id="implementer-top" value="e">Select implementer</div>
        {{#each this}}
            <div class="option-status" id="implementer" value="{{this.cid}}">{{this.attributes.name}}</div>
        {{/each}}
    </div>
    <div class="valid"></div>
    <div class="button" id="save-task-button">save</div>
    <div class="button" id="close-button">close</div>

</div>




