@import 'nib'

.background
  background #E3F2FD
  position fixed
  width 100%
  height 100%
  top 0
  z-index -100

#manager-container
  text-align center

  #column-name-container
    display inline-block
    position fixed
    top 0

    .column-name-task
      text-align: center
      background: #2196F3
      float: left
      width 200px
      height: 50px
      line-height: @height

  #tasks-container
    display inline-block
    margin-top 50px

.modal-window
  width: 100%
  height: 100%
  background: rgba(0, 0, 0, 0.7)
  top: 0
  left: 0
  position: fixed
  z-index 100

  .window
    background: rgba(236, 231, 159, 1)
    margin: 150px auto
    width: 400px

  .task-window
    height: 300px

  .implementer-window
    height: 200px

  .status-filter-window
    height: 200px


.property-task
  margin-top 2px
  text-align: center
  background: white
  float: left
  width: 200px
  height: 50px
  line-height: @height

.property-button-task
  text-align: center
  float: left
  width: 200px
  height: 50px
  line-height: @height

.button
  height: 100%
  width: 100%
  background-color: white



.delete-task
  width: 50px
  height: 50px
  background-color: white

.proverka
  background-color: black