@import 'nib'

.home-page
  width: 551px
  height: 275px
  margin: 0 auto
  padding: 5px
  margin-bottom: 0.5em
  color: #fff
  background-color: #7fc4d6
  .icon-brunch-logo-napkin
    background-repeat: no-repeat
    width: 256px
    height: 256px
    margin: 0 auto
    transition: background-size 0.2s
    background-size: 100%
    background-image: url('http://brunch.io/images/svg/png/brunch-logo-napkin.png')



#modal-window
  width: 100%
  height: 100%
  background: rgba(0, 0, 0, 0.9)
  top: 0
  left: 0
  position: fixed
  //padding: 1px
  //margin: 0 auto
  //margin-bottom: 0em
  //color: yellow

#task-window

  width: 400px
  height: 500px
  background: rgba(254, 254, 0, 0.1)
  margin: 150px auto

#set-implementer
  width: 100px
  height: 100px
  margin: 0px 400px
  background: green
  position: fixed
  top: 0
  left: 0

.task
  //overflow: hidden


.property-task
  margin-top 2px
  text-align: center
  background: beige
  float: left
  width: 200px
  height: 50px
  line-height: @height

.property-name
  text-align: center
  background: dodgerblue
  float: left
  width: 200px
  height: 50px
  line-height: @height

.property-button-task
  text-align: center

  float: left
  width: 200px
  height: 50px
  line-height: @height

.button
  height: 100%
  width: 100%
  background-color: white



.delete-task
  width: 50px
  height: 50px
  background: black
