<div class="header-container" id="header-container"></div>

<div class="outer-page-container">
  <div class="page-container" id="page-container">
      <div id="manager-container" >
          <div id="modal-window-container" >
          </div>
          <div id="tasks-container" >
          </div>
      </div>
  </div>
</div>
